<!-- Short Team info for friends and team member box-->
<div class="well">
  <h4><%= link_to team.name, team_path(team) %></h4>
  <%= link_to "Leave Team", destroy_user_team_path(team), method: :post%>
</div>
