<div class="container">
  <div class="row">
    <h1><%= @team.name %></h1>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>Team Members</h3>
    </div>
    <div class="col-md-4">
      <h3>Chores</h3>
      <% @team.chores.each do |chore| %>
        <div class="">
          <%= link_to chore.name, chore_path(chore) %> Points:<%= chore.value %>
          <%= button_to "Accept Chore", { controller: "tasks", action: "create", id: chore.id }, method: :post, data: { confirm: "Are you sure?" } %>
          <% if chore.completed %>
            COMPLETED
          <% end %>
        </div>
        <br>
      <% end %>
    </div>
    <div class="col-md-4">
      <h3>Tasks Past Due</h3>
    </div>
  </div>
</div>
