<div class="container">
  <div class="row">
    <div class=".col-md-6 .col-md-offset-3">
      <h1 align="center">Welcome To Chore Chart</h1>
    </div>
  </div>

  <div class="row">
    <div class=".col-md-1 well">
      <h1 align="center">Welcome To Chore Chart</h1>
    </div>
  </div>
</div>
