<h1>Users</h1>
<input type="text" name="search" id="live-search">
<div class="well" id="user-div">
	
</div>

<script id="user-template" type="text/x-handlebars-template">
	<div class="well" id={{this.id}}>
		<h4>{{this.name}}</h4>
		<a href='/user/'+{{id}}>See Profile</a>
		<p>{{this.points}}</p>
		<p>{{this.teamNames}}</p>
	</div>
</script>
