<h1>Users</h1>
<div class="well">
	Search: <input type="text" name="search" id="live-search">	
</div>

<div class="well" id="user-div">
	
</div>

<script id="user-template" type="text/x-handlebars-template">
	<div class="well">
		<h4>Name: {{name}}</h4>
		<p>Points: {{points}}</p>
		<p>Teams: {{teams}}</p>
	</div>
</script>
