<div class="well chore" id="chore-<%=chore.id%>">
  <%= link_to chore.name, chore_path(chore) %> Points:<%= chore.value %>

  <% if !chore.accepted && !chore.completed && current_user.teams.include?(@team)%>
    <!-- to be replaced with form for with class of accept-form -->

  <% end %>

  <% if current_user.accepted_chore(chore) %>
    <!-- to be replaced with form for with class of complete-form -->

  <% end %>

  <% if chore.completed %>
    <span class="label label-success">COMPLETED</span>
  <% end %>

  <% if chore.accepted %>
    <span class="label label-primary">ACCEPTED</span>
  <% end %>
</div>
